.home {
    /* background-image: url(../../img/background-home.jpg);
    background-repeat: no-repeat;
    background-size: cover; */

    position: relative;
}
.page-link-icons{
    z-index: 10;
    position: absolute;
}

.background-home {
    height: max-content;
    width: max-content;

    z-index: -10;
    position: absolute;
}