.mail-index{
  background-color: rgb(229, 241, 252);
}

.mail-filter{
    display: flexbox;
}

.filter-select{
    border-radius: 5px;
    border: black solid 3px;
}

.filter-title{
    color: rgb(106, 77, 231);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
}

.mail-list{
    list-style-type: none;
    width: 70vw;
    margin-left: 10vw;
}

.mail-item{
    text-align: left;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.mail-item:hover{
    box-shadow: 1px 1px 1px 1px lightgray;
    border: 1px solid gray;
}

ul div{
    display: inline-block;
    /* the 4 divs in mailpreview */
}

.mail-sub{
    width: 65vw;
}

/* .mail-show-det{

} */

.read-icon{}

.mail-sendat{
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.mail-comp{
    margin-top: 10px;
    
}
.comp-header{
    color: rgb(106, 77, 231);
}

.comp-form{
    margin-top: 10px;
}

.from-input{
    margin-bottom: 5px;
    border-radius: 5px;
    border: black solid 3px;
}

.sub-input{
    margin-bottom: 5px;
    border-radius: 5px;
    border: black solid 3px;
}
.body-input{
    margin-bottom: 5px;
    border-radius: 5px;
    border: black solid 3px;
}

.mail-details{
    margin-top: 10px;
}

.det-sub{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.det-from{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.det-to{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.det-body{
    font-weight: bold;

}


/* buttons */
button{
    cursor: pointer;
}

button:hover{
    background-color: rgb(145, 143, 143);
}

.remove-btn{
    border-radius: 5px;
    width: 35px;
    background-color: lightgray;
    border: rgb(83, 82, 82) solid 3px;
}

.comp-btn{
    border-radius: 5px;
    border: black solid 3px;
}

